# VSCode stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PDM
.pdm*
!pdm.lock

# Distribution / packaging
dist/
build/
/*cache/

# Tests
.pytest_cache/
.coverage
.htmlcov/

# Log files
logs/
*.log

# User data
data/user/*
!data/user/.gitkeep
